// Specific CSS for your home-page

// this is for the search bar in root
.flexing-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.height-search {
  height: 350px;
}

// footer
.footer {
  background-color: white;
  height: 75px;
  align-items: center;
}

.footer-links {
  a {
    margin: 0 5px;
  }
}
