.info-title {
  img {
    width: 50%;
    height: auto;
    padding-top: 40px;
    min-height: 200px;
  }
}

.card-booking {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.card-status {
  padding-top: 40px;
}

.card-policy {
  display: flex;
}

