
<div class="container">
  <h2>Booking Confirmation</h2>
  <p>Thanks <%= current_user.username %>!</p>
  <div class="row">
    <div class="col-md-8">
      <div class="card-white">
        <div class="d-flex justify-content-between mt-3">
          <p><strong>Your reservation</strong></p>
          <p>x days</p>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <p><strong>Pick Up</strong></p>
          <p>xxx</p>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <p><strong>Drop Off</strong></p>
          <p>xxx</p>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <p><strong>Total Price</strong></p>
          <p>xxx</p>
        </div>
        <a href="#" class="btn btn-primary w-50">Edit</a><a href="#" class="btn btn-danger w-50">Delete</a>
      </div>
    </div>
     <div class="col-md-4">

    </div>
  </div>
</div>
