<% @ducks.each do |duck| %>
  <h1>duck.name</h1>
  <h2>duck.category</h2>
  <p>duck.description</p>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


<div class="container">
  <div class="flexing-center height-search">
    <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :category, input_html: {value: ""} %>
    <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
