<div class="landing_page">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://samurai.ge/wp-content/uploads/2018/02/rubber-duck-debugging.jpg);">
  <div class="container">
    <h1>Le Duckon helps <strong>stuck developers</strong> to <strong> find their duck</strong>!</h1>
    <p>Improve your programming skills and FAQ your duck</p>
    <br>
    <form action="/ducks" accept-charset="UTF-8" method="get" class="search-form-control">
      <div class='search-flex'>
        <input type="text" name="query" id="query" class="form-control" placeholder="Type in duck's name, location or type">
        <input type="submit" name="commit" value="Find your duck" class="btn btn-gradient">
      </div>
    </form>
  </div>
</div>
<h2 class="text-center" style="padding-top: 20px;">How it works</h2>
<div class="container_cards">
  <div class="landing_card">
    <h3>Search for your duck!!</h3>
    <img class="img-crop" src="https://cdn.xl.thumbs.canstockphoto.com/cartoon-duck-in-a-magnifying-glass-clipart_csp7166301.jpg" alt="">
    <p>You can search for location, type, category, behavior, skill... and much more</p>
  </div>
  <div class="landing_card">
    <h3>Book your duck!!</h3>
    <img class="img-crop" src="https://cdn.dribbble.com/users/568278/screenshots/3969812/rubberduck-dribbble.png" alt="">
    <p>Rent the duck that suits you best</p>
  </div>
  <div class="landing_card">
    <h3>FAQ your duck!!</h3>
    <img class="img-crop" src="https://amsterdamduckstore.com/wp-content/uploads/2019/08/Lingerie-Rubber-Ducks-slant-right-Amsterdam-Duck-Store.jpg" alt="">
    <p>Start coding with your favorite debugging duck and ask it as many questions as you like during your renting period. No boundaries!!!</p>
  </div>
</div>
</div>
</div>

