.test {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.remove-underline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.link-text-black {
  a {
    color: black;
    &:hover {
      color: darkgray;
    }
  }
}

.card-listing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.card-listing > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-listing p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-listing {
  .card-listing-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }
}
.card-listing-infos {
  a {
    &:hover {
   text-decoration: none;
    }
  }
}

.border {
  box-shadow: 2px 2px 3px lightgray;
  border-radius: 10px;
}

.card-listing-infos .card-listing-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
